*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width:100vw;
  height: 100vh;
  overflow: hidden;
}

#overlay{
  position: absolute;
  width:100vw;
  height:100vh;
  left:0;
  top:0;
  transition: background-color 0.3s;
  display: grid;
  place-content: center;
  place-items: center;
  font-size: 3em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#overlay > div{
  display: grid;
  place-content: center;
  place-items: center;
  transition: opacity 2s;
  transition-delay: 1s;
}

aside{
  position: absolute;
  width:100px;
  height:100vh;
  left:0;
  top:0;
  padding: 20px 10px;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:20px;
  z-index: 5;
}
aside>div{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap:20px;
}
h1{
  cursor: default;
}
h3{
  position: absolute;
  top:10%;
  left:50%;
  width:100vw;
  text-align: center;
  transform: translateX(-50%);
  /* margin-bottom: 100px; */
  color:rgb(255, 255, 255);
  font-size: 0.9em;
}

@media screen and (max-width:800px) {
  h3{
  font-size: 0.6em;
  }
}

#tooltip{
  position: absolute;
  display: inline-block;
  width:200px;
  left:100px;
  background-color: rgb(75, 34, 34);
  border-radius: 10px;
  padding: 10px;
  color:white;
  cursor: default;
  opacity:0;
  transition: opacity 0.2s;
}
button{
  font-size: 1.5em;
  width:90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: solid white 2px;
  background-color: transparent;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
#utility-buttons > button:hover{
  color:rgb(78, 78, 78);
}
button > img{
  aspect-ratio: 1/1;
}
button:hover{
  background-color: rgba(255, 255, 255);
}
button:disabled{
  border-color: grey;
  color:grey;
}
button:disabled:hover{
  background-color: transparent;
  color:grey;
  cursor: default;
}
button:disabled:hover + #tooltip{
    opacity:1;
}
canvas{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

}